.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap : 1em;
}

.input-container{
    display: flex;
    width: 100%;
    
}

label{
    width: 30%;
}

input{
    width: 70%;
    border-radius: 1em;
    border: 0.5px solid grey;
    height: 2em;

}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}