<div class="login-container">
Name using value property: {{userForm.value.firstname}}
Name using valueChanges: {{currentName}}
    <form [formGroup]="userForm">
        <div class="input-container">
            <label for="name">Firstname :</label>
            <input type="text" name="firstname" formControlName="firstname">
        </div>

        <div class="input-container">
            <label for="name">Lastname :</label>
            <input type="text" name="lastname" formControlName="lastname">
        </div>

        <div class="input-container">
            <label for="name">Email :</label>
            <input type="email" name="email" formControlName="email">
        </div>
    </form>
</div>